@model _7Assist.Models.Terminal

<div class="card" id="card-@Model.IdUser">
    <div class="card-info">
        <h2>Терминал @Model.IdUser</h2>
        <p>@Model.Address</p>
        <div class="button-container">
            <button class="status-btn call status-btn-click">Принять вызов</button>
        </div>
    </div>
</div>