@model _7Assist.Models.Terminal

<div class="card" id="card-@Model.IdUser">
    <div class="card-info">
        <h2>Терминал @Model.IdUser</h2>
        <p>@Model.Address</p>
        <div class="button-container">
            <a class="btn btn-success" asp-action="Room" asp-controller="LiveKit" asp-route-roomName="@Model.IdUser">Принять вызов</a>
        </div>
    </div>
</div>