

<script src="https://cdn.jsdelivr.net/npm/livekit-client@2.5.9/dist/livekit-client.umd.js"></script>

<main>
    <div id="join">
        <div id="join-dialog">
            <h2>Join a Video Room</h2>
            <form onsubmit="joinRoom(); return false">
                <div>
                    <label for="participant-name">Participant</label>
                    <input id="participant-name" class="form-control" type="text" required />
                </div>
                <div>
                    <label for="room-name">Room</label>
                    <input id="room-name" class="form-control" type="text" required />
                </div>
                <button id="join-button" class="btn btn-lg btn-success" type="submit">Join!</button>
            </form>
        </div>
    </div>

    <div id="room" hidden>
        <div id="room-header">
            <h2 id="room-title"></h2>
            <button class="btn btn-danger" id="leave-room-button" onclick="leaveRoom()">Leave Room</button>
        </div>
        <div id="layout-container"></div>
    </div>
</main>
